<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waiters App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <header>
        
        <h1>Waiters App</h1>
        <p>Conectando empresas e profissionais de hospitalidade</p>

        <nav>

            <a href="/atendentes">Ver Atendentes</a>
            <a href="/cadastro/atendente">Cadastrar Atendente</a>
            <a href="/empresas">Ver Empresas</a>
            <a href="/cadastro/empresa">Cadastrar Empresa</a>

        
        </nav>
    
    </header>
    <main>

        <h2>Bem-vindo ao Waiters App!</h2>
        <p>A plataforma que conecta profissionais de hospitalidade com empresas do setor.</p>

    </main>
    
</body>
</html>