<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completar perfil</title>
</head>
<body>
    <h1>Complete o seu perfil</h1>

    <form method="POST" action="/perfil/salvar">
        <label>Segmento:</label><br>
        <input type="text" name="segmento"><br><br>

        <label>Anos de experiência:</label><br>
        <input type="number" name="experiencia"><br><br>

        <button  type="submit">Salvar</button>

    </form>
    
</body>
</html>