<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete o perfil da empresa</title>
</head>
<body>
    <h1>Complete o perfil da sua empresa</h1>

    <form method="POST" action="/perfil/empresa/salvar">
        <label for="Segmento">Segmento:</label>
        <input type="text" id="Segmento" name="segmento"><br><br>

        <button type="submit">Salvar</button>

    </form>
    
</body>
</html>